body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

.header-style-fashion {
    background-color: rgba(255, 255, 255, 0.0);
    color: white;

    text-align: center;
    padding: 1rem;


}

.header-style-hollywood {
    background-color: rgba(255, 255, 255, 0.1);
    font-family: helvetica;
    font-style: bold;
    color: yellow;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.header-style-TimeSquare{
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
   background-color: #000;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
    display: inline;
}

nav a {
    color: white;
    text-decoration: none;

}

.nav-style-fashion {
    color: black;
    text-decoration: none;
}
.nav-style-TimeSquare {
    color: black;
    text-decoration: none;
    background-color: #000;
}
main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;

}

.flex-container-Athens {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
    width: auto;
    height: auto;
}

.flex-container-fashion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: auto;
}

.flex-container-Hollywood {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;

}

.flex-container-Hollywood-vertical {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;

}

.left-hollywood-container,
.right-hollywood-container {
    width: 45%;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    flex: 1;
}
.flex-container-TimeSquare {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: auto;
}

figcaption {
    font-style: italic;
    text-align: center;
    background-color: #303030;
    padding: 8px;
    text-align: center;
    color: white;
}

.content {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(50%-20px);
    box-sizing: border-box;
}

.content img {
    max-width: 100%;
    height: auto;
}

.content-athens {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(50%-20px);
    box-sizing: border-box;
}

.content-athens img {
    max-width: 100%;
    height: auto;
}

.content-hollywood {
    background-color: rgba(169, 169, 169, 0.1);
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(50%-20px);
    box-sizing: border-box;
    color: white;
}
.content-TimeSquare {
    background-color: black;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(50%-20px);
    box-sizing: border-box;
    color: white;
}



h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;

}

.cities-block {
    float: left;
    width: 25%;
    box-sizing: border-box;
    text-align: center;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}

.cities-block:last-child {
    border-right: none;
    clear: both;
    
}


.athens-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: auto;

}

.Fashion-Avenue-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: auto;

}

.Hollywood-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: auto;
 

}

.TimeSquare-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: auto;

}

.text-opacity {
    opacity: 0.85;
}

body.Fashion-page {
    background-image: url('../Images/Fashion-Avenue-page-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body.Athens-page {
    background-image: url('../Images/Athens-weppage-background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body.Hollywood-page {
    background-image: url('../Images/Hollywood-webpage-image.jpg');
}
body.TimeSquare-page{
 background-image: url('../Images/Video-Games-background-image.jpg') ;
 background-size: 100% 100%;
 background-repeat: no-repeat;
}
.no-bullets{
    list-style-type: none;
    padding: 0;
}
.no-bullets li{
    margin-left: 1em;
    font-weight: bold;
    
}
.footer-athens{
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center; 

}
.footer-container{
    max-width: none;
    margin: 0;
    background-color: white;
}
.footer-TimeSquare{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center; 

}